In [1]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-03 21:51:20--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240303%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240303T215120Z&X-Amz-Expires=300&X-Amz-Signature=5e7a34041640817a03f725e205b937cd7386a8b3fc71cd2642639f55b5ccfd14&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-03 21:51:20--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240303%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240303T215120Z&X-Amz-Expires=300&X-Amz-Signature=5e7a34041640817a03f725e205b937cd7386a8b3fc71cd2642639f55b5ccfd14&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz’

fhv_tripdata_2019-1 100%[===================>]  18.48M   106MB/s    in 0.2s

2024-03-03 21:51:21 (106 MB/s) - ‘fhv_tripdata_2019-10.csv.gz’ saved [19375751/19375751]

In [3]:
!gunzip -f fhv_tripdata_2019-10.csv.gz

gzip: fhv_tripdata_2019-10.csv.gz: No such file or directory

In [5]:
!head fhv_tripdata_2019-10.csv

dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
B00009,2019-10-01 00:23:00,2019-10-01 00:35:00,264,264,,B00009
B00013,2019-10-01 00:11:29,2019-10-01 00:13:22,264,264,,B00013
B00014,2019-10-01 00:11:43,2019-10-01 00:37:20,264,264,,B00014
B00014,2019-10-01 00:56:29,2019-10-01 00:57:47,264,264,,B00014
B00014,2019-10-01 00:23:09,2019-10-01 00:28:27,264,264,,B00014
B00021         ,2019-10-01 00:00:48,2019-10-01 00:07:12,129,129,,B00021
B00021         ,2019-10-01 00:47:23,2019-10-01 00:53:25,57,57,,B00021
B00021         ,2019-10-01 00:10:06,2019-10-01 00:19:50,173,173,,B00021
B00021         ,2019-10-01 00:51:37,2019-10-01 01:06:14,226,226,,B00021

In [ ]:
dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number

In [9]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types

In [7]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),  
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)  
])

In [10]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('hw4') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/03/03 21:59:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [48]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv')

In [49]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   null|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   null|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   null|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   null|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   null|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   null|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   null|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   null|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   null|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   null|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   null|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   null|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   null|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   null|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   null|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   null|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [15]:
# Question 1:
A: 3.3.2

In [14]:
spark.version

'3.3.2'

In [16]:
df.repartition(6).write.parquet('fhv_tripdata_2019-10')

In [ ]:
# Question 2:
# Repartition the Dataframe to 6 partitions and save it to parquet.
# What is the average size of the Parquet (ending with .parquet extension) 
# Files that were created (in MB)? Select the answer which most closely matches.

# A: 6

In [19]:
!ls fhv_tripdata_2019-10/ -lh

total 37M
-rw-r--r-- 1 shamdzmi shamdzmi    0 Mar  3 22:06 _SUCCESS
-rw-r--r-- 1 shamdzmi shamdzmi 6.2M Mar  3 22:06 part-00000-00d91371-52c9-484b-9588-03dc264bfa9c-c000.snappy.parquet
-rw-r--r-- 1 shamdzmi shamdzmi 6.2M Mar  3 22:06 part-00001-00d91371-52c9-484b-9588-03dc264bfa9c-c000.snappy.parquet
-rw-r--r-- 1 shamdzmi shamdzmi 6.2M Mar  3 22:06 part-00002-00d91371-52c9-484b-9588-03dc264bfa9c-c000.snappy.parquet
-rw-r--r-- 1 shamdzmi shamdzmi 6.2M Mar  3 22:06 part-00003-00d91371-52c9-484b-9588-03dc264bfa9c-c000.snappy.parquet
-rw-r--r-- 1 shamdzmi shamdzmi 6.2M Mar  3 22:06 part-00004-00d91371-52c9-484b-9588-03dc264bfa9c-c000.snappy.parquet
-rw-r--r-- 1 shamdzmi shamdzmi 6.2M Mar  3 22:06 part-00005-00d91371-52c9-484b-9588-03dc264bfa9c-c000.snappy.parquet

In [20]:
df.createOrReplaceTempView('fhv')

In [ ]:
# Question 3:
# Count records

# How many taxi trips were there on the 15th of October?

# Consider only trips that started on the 15th of October.

# A:62610

In [24]:
spark.sql("""select count(*) from fhv 
          where pickup_datetime>=date'2019-10-15'
          and pickup_datetime<date'2019-10-16'""").show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

In [ ]:
# Question 4:
# Longest trip for each day

# What is the length of the longest trip in the dataset in hours?

# 631,152.50 Hours
# 243.44 Hours
# 7.68 Hours
# 3.32 Hours

# a:631,152.50

In [42]:
spark.sql("""
          select 
           --cast(maxg(dropoff_datetime - pickup_datetime) as INTERVAL HOUR TO SECOND)
           (cast(max(dropoff_datetime - pickup_datetime) as bigint) )  / 3600.0 diff 
          from fhv              
          """).show()

+-------------+
|         diff|
+-------------+
|631152.500000|
+-------------+

In [ ]:
# Question 5:
# User Interface

# Spark’s User Interface which shows the application's dashboard runs on which local port?

# 80
# 443
# 4040
# 8080

# A: http://localhost:4040/

In [ ]:
# Question 6:
# Least frequent pickup location zone

# Load the zone lookup data into a temp view in Spark
# Zone Data

# Using the zone lookup data and the FHV October 2019 data, what is the name of the LEAST frequent pickup location Zone?

# East Chelsea
# Jamaica Bay
# Union Sq
# Crown Heights North


# A:Jamaica Bay

In [43]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2024-03-03 22:38:52--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240303%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240303T223852Z&X-Amz-Expires=300&X-Amz-Signature=872d0840721152d98e0239d0e10ac2fd6a917c054ab2b0f0ef943e7b048c4597&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-03-03 22:38:52--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240303%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240303T223852Z&X-Amz-Expires=300&X-Amz-Signature=872d0840721152d98e0239d0e10ac2fd6a917c054ab2b0f0ef943e7b048c4597&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-03-03 22:38:52 (43.1 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [44]:
!head taxi_zone_lookup.csv

In [50]:
df_z = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv('taxi_zone_lookup.csv')

In [51]:
df_z.printSchema()

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [53]:
df_z.createOrReplaceTempView('zones')

In [61]:
spark.sql("""
          select 
           Zone , count(*)
          from fhv   f
          inner join zones z on f.PULocationID = z.LocationID
          group by Zone 
          order by 2 
          limit 1
          """).show()

+-----------+--------+
|       Zone|count(1)|
+-----------+--------+
|Jamaica Bay|       1|
+-----------+--------+